.page-header {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 20px;
}

.invited-guests {
    margin-top: 20px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    resize: both;
    background: lightgoldenrodyellow;
}

.friends {
    margin-top: 20px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    resize: both;
    background: lightcyan;
}

.friend-name {
    color: blue;
    margin : 10px;
}

.active {
    background: black;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


.inactive {
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fullname {
    font-size: 16px;
    color: yellow;
}

.friend-name {
    color: green;
}

.friend-city {
    color: blueviolet;
}

.happy-face{
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

.sad-face {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}

* {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}